body {
	background-image: url(SaturnIR.jpg);
	/*height: 500px;*/
	background-size: cover;
	background-position: middle center;
	text-align: center;
}

.jumbotron {
	height: 500px;
	color: white;
	background-color: rgba(0, 0, 0, 0);
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	transform: translate(-50%, -50%);
	font-weight: bold;
}
.result_page {
	background-color: black;
}
#result{
	height: 50%;
	width: 50%;
}
.card {
	color: white;
	background-color: black;
	margin-top: 50px;
}

.image_result{
	background-size: cover;
	width: 100%;
	height: auto;
	background-position: center;
}

.title-link{
	color: white;
	text-decoration: underline;
	font-weight: bold;
}

.date-info{
	font-size: 20px;
}

@media only screen and (max-width: 700px) {
		.jumbotron {
				top: 30%;
		}
}
