body {
	background-image: url(SaturnIR.jpg);
	/*height: 500px;*/
	background-size: cover;
	background-position: middle center;
	text-align: center;
}

.jumbotron {
	height: 500px;
	color: white;
	background-color: rgba(0, 0, 0, 0);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
}
.result_page {
	background-color: black;
}
#result{
	height: 50%;
	width: 50%;
}
.card {
	color: white;
	background-color: black;
}

